<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
    Upcomming Bikes
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="header-buttons" slot="primary">
    <ion-icon name="search" (click)="toggleSearch()"></ion-icon>
      <ion-icon name="location-outline" (click)="LocateDealers()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar class="searchbyFilter" [(ngModel)]="searchText" (ionInput)="filterbikes()" debounce="500" *ngIf="isSearchVisible"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="Upcomming_Bike_Card" *ngFor="let bike of filteredBikes">
    <ion-img [src]="bike.image" class="Upcomming_card_Img" [alt]="bike.name"></ion-img>
    <div class="bike-details-container">
      <div class="bike-info">
        <h2 class="bike-name">{{ bike.name }}</h2>
        <p class="bike-specs">{{ bike.specs }}</p>
        <p class="bike-price-label">Ex-Showroom price, Mumbai</p>
        <p class="bike-price-label">Expected Price</p>
        <h3 class="bike-price">{{ bike.price | rupee: 'en-IN': 0 }} Onwards</h3>
      </div>
      <div class="bike-launch">
        <p class="launch-label">Launch Date</p>
        <p class="launch-date">{{ bike.launchDate }}</p>
      </div>
    </div>
  </div>
  
</ion-content>
