
.title{
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}

.header-buttons {
  ion-icon {
    font-size: 25px;
    padding-right: 15px;
  }
}
ion-toolbar {
  --background: #AEA8A8;   
  color: black;          
  --padding-top: 15px;    
  --padding-bottom: 15px;
}

ion-title {
  color: black; 
  font-family: "joan";
  font-size: 20px;
}

ion-icon {
  color: black; 
}

.Compare_Add{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.add_icon{
  font-size: 35px;
  margin: 15px;
  color: #AEA8A8;
  border: 1px dashed #AEA8A8;
  padding: 10px;
  border-radius: 5px;
}
.add_vs{
  font-size: 20px ;
  color: #ff5e00;
  font-weight: 600;
  margin: 35px 30px 0px 30px;
}
.button_Container{
  margin: 20px 25px;
  display: flex;
  justify-content: space-evenly;

}
.compare_button{
  padding: 12px 33px;
  border-radius: 5px;
  // margin: 25px 20px 20px 20px;
  background-color: red;
  color: #fff;

}

.comp-bike-main-div{
display: flex;  
margin: 0 17px;

.comp-bike-block{
  height: 142px;
  width: 150px;
  background-color: #fff;
  border: 2px solid #AEA8A8;
  margin: 30px 0;
  border-radius: 10px;
  
  .comp-bike-sub{

    height: 114px;
    width: 125px;
    background-color: #AEA8A8;
    padding: 25px 15px;
    margin: 10px;
    border-radius: 10px;

    text-align: center;
}
    ion-icon{
      font-size: 45px;    
    }
  } 

  .comp-circle{
    margin-top: 88px;
    color: #ff5e00;
    font-weight: 600;
    padding: 5px;

  }
}

.cmp_bike{
  padding: 15px 30px;
  margin: 0 90px ;
  background-color:  #f85528;
  color: #fff;
}


.popular-comparison{
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.popular-comparison-a {

  position: relative;
  top: 1.3rem;
  color: blue;

}

.comp-heading{
font-size: 25px;
margin: 10px 5px;
padding-bottom: 10px;
}


.bike-comparison-card {
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid #6b6a6a;
  margin: 10px 10px;

}

.bike-comparison-row {
  display: flex;
  align-items: center;
  text-align: center;
}

.bike-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bike-item {
  p{
    padding-top: 10px;
  font-size: 9px;
  font-weight: 500;
  }

  .popular_Comp_IMg{
    height: 12vh;
    width: 34vw;
  }
}
.vs-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs-text {
  font-size: 24px;
  font-weight: bold;
  color: #ff5e00; /* Orange color */
}
.spacing{
  padding: 1rem 0;
}

