<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
     Popular Brands
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="header-buttons" slot="primary">
      <!-- <ion-icon name="search"></ion-icon>
      <ion-icon name="location-outline"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let brand of BrandDetails">
        <div class="brand-card" (click)="onBrandClick(brand.name)">
          <img [src]="brand.image" alt="{{ brand.name }}" />
          <p>{{ brand.name }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
