<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
   Filtered Bikes 
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="header-buttons" slot="primary">
      <ion-icon name="location-outline" (click)="LocateDealers()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="All_Bike_Card" *ngFor="let bike of filteredBikes">
    <ion-img [src]="bike.image" class="All_Bike_Img" [alt]="bike.name"></ion-img>
    <div class="bike-details-container">
      <div class="bike-info">
        <h2 class="bike-name">{{ bike.name }}</h2>
        <p class="bike-specs">{{ bike.specs }}</p>
        <p class="bike-price-label">Ex-Showroom price, Mumbai</p>
        <h3 class="bike-price">₹ {{ bike.price }}</h3>
        <div class="button-container">
          <ion-button expand="block" (click)="goToOnRoadPrice(bike)">Check Out On Road Price</ion-button>
          <ion-icon name="heart-outline"></ion-icon>
        </div>
      </div>
      <div class="bike-launch">
        <p class="launch-label">Launch Date</p>
        <p class="launch-date">{{ bike.launchDate }}</p>
      </div>
    </div>
  </div>
</ion-content>

