div {
  // margin-top: px;
  // height: 57vh;
  margin: 20px 0;

  swiper-container {
    swiper-slide {
      height: 37vh

      img {
        width: 100%;
        border-radius: 5px;
        // position: relative;
        margin: 16px 0;
      }
    }
  }
}
